Source: senpai-cli
Maintainer: Bogdan Tatarov <bogdan@tatarov.me>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools,python3-requests,python3-toml
Section: utils
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.10

Package: senpai-cli
Architecture: all
Depends: ${python3:Depends},python3-requests,python3-toml
Description: BashSenpai command line interface.
 BashSenpai is a terminal assistant powered by ChatGPT that transforms instructions into ready-to-use commands.
